@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2') format('woff2'),
    url('../fonts/spoqahansans/SpoqaHanSansRegular.woff') format('woff'),
    url('../fonts/spoqahansans/SpoqaHanSansRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.ttf') format('truetype');
}
@font-face {
    font-family: 'Aqum';
    font-weight: 400;
    src: local('Aqum'),
    url('../fonts/Aqum/Aqum.ttf') format('truetype');
}
:root{
	--orange:#fdb513;
	--green:#82cdb9;
}

*{
	list-style:none;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
.mid{
	width:1300px;
	margin:auto;
	position:relative;
}
html, body{
	height:100vh;
	font-family:"Spoqa Han Sans";
}

/*네비*/
.top{
	width:100%;
	height:84px;
	background:white;
}
	.top .a img{
		position:absolute;
		top:5px;
		left:0;
		height:70px;
	}
.icon{
	position:absolute;
	right:0;
	top:33px;
}
.icon a img{
	width:18px;
	height:auto;
	margin-right:15px;
}
.nav{
	width:650px;
}
	.nav li{
		float:left;
		padding:30px 25px;
	}
	.nav li a{
		font-family:Aqum;
		color:black;
		font-size:17px;
		overflow:hidden;
		display:inline-block;
	}
		.firstnav,
		.secondnav {
		  display: inline-block;
		  position: relative;
		  transition: transform .3s;
		}
			.firstnav::before,.secondnav::before{
				position: absolute;
				content: attr(data-hover);
			}
				.firstnav::before{
					top:105%;
					color:var(--orange);
				}
				.secondnav::before{
					bottom:105%;
					color:var(--green);
				}
	.nav li a:hover .firstnav,.on1{
		transform: translate3d(0, -105%, 0);
	}
	.nav li a:hover .secondnav,.on2{
		transform: translate3d(0, 105%, 0);
	}


.mainbanner{
	width:100%;
	position:relative;
	margin-bottom:450px;
	max-width:1920px;
}
	.mainbanner img{
		width:100%;
		display:block;
		max-width:1920px;
	}
		.mainbanner img:nth-child(1){
			position:relative;
			z-index:10;
		}
		.mainbanner img:nth-child(2){
			position:absolute;
			top:51%;
		}

.poster{
	text-align:center;
	margin-bottom:250px;
}
	.poster h1{
		margin-bottom:150px;
		font-size:36px;
		text-transform:uppercase;
	}
		.poster h1 span{
			color:var(--orange);
		}
	.sub2_button{
		float:right;
	}
	.sub2_button img{
		margin:10px 0 0 20px;
	}




.footer{
	background:var(--orange);
	overflow:hidden;
	padding-bottom:60px;
}
	.footer li{
		float:left;
		margin:10px 30px 20px 0;
	}
		.footer li a{
			color:#333;
			font-weight:900;
			font-size:14px;
		}
	.footer_text{
		clear:both;
		font-size:12px;
		color:#333;
		font-weight:300;
	}
		.footer_text p{
			float:left;
			margin-right:65px;
		}