@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2') format('woff2'),
    url('../fonts/spoqahansans/SpoqaHanSansRegular.woff') format('woff'),
    url('../fonts/spoqahansans/SpoqaHanSansRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.woff2') format('woff2'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.woff') format('woff'),
    url('../fonts/SpoqaHanSans/SpoqaHanSansThin.ttf') format('truetype');
}
@font-face {
    font-family: 'Aqum';
    font-weight: 400;
    src: local('Aqum'),
    url('../fonts/Aqum/Aqum.ttf') format('truetype');
}
:root{
	--orange:#fdb513;
	--green:#82cdb9;
}

*{
	list-style:none;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
.mid{
	width:1300px;
	margin:auto;
	position:relative;
}
html, body{
	height:100vh;
	font-family:"Spoqa Han Sans";
}

/*네비*/
.top{
	width:100%;
	height:84px;
	background:white;
}
	.top .a img{
		position:absolute;
		top:5px;
		left:0;
		height:70px;
	}
.icon{
	position:absolute;
	right:0;
	top:33px;
}
.icon a img{
	width:18px;
	height:auto;
	margin-right:15px;
}
.nav{
	width:650px;
}
	.nav li{
		float:left;
		padding:30px 25px;
	}
	.nav li a{
		font-family:Aqum;
		color:black;
		font-size:17px;
		overflow:hidden;
		display:inline-block;
	}
		.firstnav,
		.secondnav {
		  display: inline-block;
		  position: relative;
		  transition: transform .3s;
		}
			.firstnav::before,.secondnav::before{
				position: absolute;
				content: attr(data-hover);
			}
				.firstnav::before{
					top:105%;
					color:var(--orange);
				}
				.secondnav::before{
					bottom:105%;
					color:var(--green);
				}
	.nav li a:hover .firstnav,.on1{
		transform: translate3d(0, -105%, 0);
	}
	.nav li a:hover .secondnav,.on2{
		transform: translate3d(0, 105%, 0);
	}

/*메인베너*/
.main_banner{
	width:100%;
	position:relative;
	height:auto;
	min-width:1300px;
}
	.autoheight{
		width:100%;
		min-width:1300px;
		display:block;
		position:relative;
		opacity:0;
	}
	.bannericon{
		width:1300px;
		margin:auto;
		padding-top:50px; 
		position:absolute;
		left:50%;
		margin-left:-650px;
	}
	
		.bannericon> li{
			position:relative;
			padding:10px 20px;
		}
			.bannericon> li div{
				position:relative;
				width:2.604%;
				height:2.604%;
				z-index:100;
				transition:0.5s;
				opacity:0.5;
			}
				.bannericon> li div img{
					width:100%;
					height:100%;
					display:block;
				}
			.scale{
				transform:scale(1.3);
			}
			.focus{
				transform:scale(1.3);
				opacity:1 !important;
			}
			
	
	.main_banner_image{
		overflow:hidden;
		position:absolute;
		top:0;
		left:0;
	}
		.main_banner_image img{
			width:100%;
			overflow:hidden;
		}
			.main_banner> li:nth-child(1){
				opacity:1;
			}
			.main_banner> li{
				opacity:0;
				transition:0.5s;
			}
				.banner_focus{
					opacity:1 !important;
					transition:0.5s;
				}

.content_text{
	text-align:center;
	font-family:Spoqa Han Sans;
}
	.content_text h1{
		font-size:36px;
		text-transform:uppercase;
		margin-bottom:-7px;
		margin-top:130px;
	}
		.content_text h1 span{
			color:var(--orange);
		}
	.content_text p:nth-child(2){
		font-size:14px;
		margin-bottom:30px;
	}
		.content_text p:nth-child(2) span:nth-child(1){
			color:var(--orange);
		}
		.content_text p:nth-child(2) span:nth-child(2){
			color:var(--green);
		}
	.content_text h2:nth-child(3){
		font-size:22px;
	}
		.content_text h2:nth-child(3) span{
			font-size:28px;
		}
	.content_text h2:nth-child(4){
		font-size:30px;
		line-height:36px;
		margin-bottom:15px;
	}
	.content_line{
		width:80px;
		height:5px;
		border-radius:50px;
		background:var(--orange);
		position:relative;
		left:50%;
		margin-left:-40px;
		margin-bottom:25px;
	}
	.content_text p:nth-child(6){
		font-size:15px;
		font-weight:300;
		margin-bottom:100px;
	}
	.content_text img{
		display:block;
		margin-bottom:100px;
	}

.sub_banner{
	overflow:hidden;
	margin-bottom:70px;
}
	.sub_banner img{
		display:block;
	}
		.sub_banner a:nth-child(1){
			float:left;
			margin:25px;
		}
		.sub_banner a:nth-child(2){
			float:right;
			margin:25px;
		}

.footer{
	background:var(--orange);
	overflow:hidden;
	padding-bottom:60px;
}
	.footer li{
		float:left;
		margin:10px 30px 20px 0;
	}
		.footer li a{
			color:#333;
			font-weight:900;
			font-size:14px;
		}
	.footer_text{
		clear:both;
		font-size:12px;
		color:#333;
		font-weight:300;
	}
		.footer_text p{
			float:left;
			margin-right:65px;
		}